body {
  font-family: 'Roboto';
  background-image: url(../assets/images/GIUSTI-BARRICAIA-3049-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#form {
  background-color: rgb(255, 243, 205, 0.9);
}

.modal-body div {
  background-color: rgb(255, 243, 205, 0.9);
}

.modal-content {
  background-color: rgb(255, 243, 205, 0.9);
}
