body {
  font-family: 'Roboto';
  background-image: url(../assets/images/pngtree-the-vineyard-rows-of-a-valley-at-sunrise-picture-image_3523487.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#bodyCard {
  background-color: rgb(255, 243, 205, 0.8);
}

.card img {
  background-color: rgb(255, 243, 205, 0.8);
}

.img-fluid {
  max-width: 200px;
}

.modal-body div {
  background-color: rgb(255, 243, 205, 0.9);
}

.modal-content {
  background-color: rgb(255, 243, 205, 0.9);
}
