body {
  font-family: 'Roboto';
  background-image: url(../assets/images/shutterstock_1572382495-scaled.jpg);
  background-repeat: no-repeat;
  background-size: 380vh;
}

@media screen and (min-width: 768px) {
  body {
    background-size: cover;
  }
}

#bodyCard {
  background-color: rgb(255, 243, 205, 0.8);
}

.card img {
  background-color: rgb(255, 243, 205, 0.8);
}

.img-fluid {
  max-width: 150px;
}

.modal-body div {
  background-color: rgb(255, 243, 205, 0.9);
}

.modal-content {
  background-color: rgb(255, 243, 205, 0.9);
}
